body {
    margin: 0;
}
.firstview-background {
    background-image: url(//camp.potepan.com/wp-content/themes/potepancamp/assets/styles/../images/home/first-view/top-hero.jpg);
    background-size: cover;
    background-position: center;
}
.header {
    padding: 20px 0;
    width: 100%;
    position: relative;
}
.header-container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 36px;
    position: relative;
}
.header-logo-image {
    display: block;
    height: 20px;
    width: auto;
    transition: 0.2s;
}
.header-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-size: 14px;
    gap: 25px;
    align-items: center;
    z-index: 15;
}
.header-list-items {
    text-decoration: none;
    color: black;
    transition: 0.2s;
}
.header-list-items::first-line {
    font-weight: bold;
}
.header-list-button {
    background-color: #f79214;
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 38px;
    transition: 0.2s;
}
.firstview-container {
    padding: 0 50px 28px;
    max-width: 1140px;
    margin: 0 auto;
}
.firstview-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    margin-bottom: 70px;
    position: relative;
}
h1 {
    text-align: center;
    width: fit-content;
}
.title-image {
    display: flex;
    align-items: center;
    padding: 0 25px 25px 0;
    position: relative;
}
.title-button {
    background-color: #f79214;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 38px;
    width: 100%;
    text-align: center;
    padding: 20px 0;
    transition: 0.2s;
}
.firstview-caption {
    color: #a2a2a4;
    font-size: 12px;
    margin: 0;
}
.firstview-caption a {
    text-decoration: none;
    color: #a2a2a4;
}
.about-wrapper {
    background-color: #f79214;
    padding: 50px;
}
.about-content {
    max-width: 1140px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
video {
    width:50%;
    height: fit-content;
}
.wrapper-text {
    color: #fff;
    display: flex;
    flex-direction: column;
    margin-left: 32px;
    align-items: flex-start;
}
h2 {
    font-size: 38px;
    margin: 0;
}
.wrapper-text img{
    width: 158px;
}
.header-logo:hover {
    opacity: 0.8;
}
.header-list-items:hover {
    opacity: 0.8;
}
.header-list-button:hover{
    opacity: 0.8;
}
.title-button:hover {
    opacity: 0.8;
}




.firstview-image {
    display: none;
}
#menu-button-check {
    display: none;
}
.menu-button {
    display: none;
}





@media screen and (max-width: 1080px) {
.header {
    background-color: #fff;
    z-index: 10;
    position:fixed;
    top: 0;
}
.firstview-image {
    padding-top: 60px;
}
.about-content {
    flex-direction: column;
}
video {
    margin-bottom: 16px;
    width: 75%;
}
.wrapper-text {
    margin-left: 0;
    width: 75%;
}
.wrapper-text a {
    margin: 0 auto;
}
.firstview-background {
    padding-top: 100px;
}
.firstview-title {
    margin-top: 30px
}

.menu-button {
    position: relative;
    display: block;
    width: 30px;
    height: 21px;
    z-index: 20;
    justify-content: center;
    align-items: center;
}
.header-list-line,
.header-list-line::before,
.header-list-line::after{
    content:"";
    display:block;
    height: 3px;
    width: 100%;
    position: absolute;
    border-radius: 10px;
    background-color: #333;
}
.header-list-line::before{
    top:10px;
}
.header-list-line::after{
    top: 20px;
}
.header-list {
    position: fixed;
    left: 100%;
    transition: transform .5s;
}


/*
#menu-button-check:checked ~ .header-list {
    left: 0;
}
#menu-button-check:checked ~ .header-list-line{
    
}
#menu-button-check:checked ~ .header-list-line::before{
    top: 20px;
    transform: rotate(45deg);
}
#menu-button-check:checked ~ .header-list-line::after{
    top: 0;
    transform: rotate(-45deg);
}*/

}


@media screen and (max-width: 767px) {
.header {
    padding: 15px 0;
}
.header-container {
    max-width: 100%;
    margin: 0 20px;
}
.firstview-background {
    background-image: none;
}
.firstview-image {
    display: block;
    width: 100%;
    padding: 52px 0 35px;
}
.firstview-container {
    margin-top: -45vw;
    padding-left: 20px;
    padding-right: 20px;
}
.firstview-title {
    width: 100%; 
    padding-right: 0;
    margin-bottom: 20px;
}
h1 {
    font-size: 25px;
}
.title-image {
    width: 100%;
    justify-content: space-between;
    padding: 0;
}
.title-image img {
    width: 27.5%;
}
.title-image img:nth-child(2) {
    width: 40%;
}
.about-wrapper {
    padding: 30px 20px;
}
video {
    width: 100%;
}
.wrapper-text {
    width: 100%;
}
.firstview-background {
    padding-top: 0;
}

}


